In [128]:
import pandas as pd

df1 = pd.DataFrame({ 'col1': ['a', 'b', 'c'],
                     'col2': [1,2,3]})
df2 = pd.DataFrame({ 'col3': ['a', 'b', 'c'],
                    'col4': [10,20,30]})

pd.merge(df1, df2, left_on='col1', right_on= 'col3', how = "outer")

  col1  col2 col3  col4
0    a     1    a    10
1    b     2    b    20
2    c     3    c    30

In [119]:
import pandas as pd
from pandas import Series, DataFrame

data = { '이름': ['철수', '영희', '민수', '지영'],
	   '나이': [25, 30, 22, 28],
	   '성별': ['남자', '여자', '남자', '여자'] }

frame = pd.DataFrame(data)
print("실행 결과: ", '\n')

frame

실행 결과:

   이름  나이  성별
0  철수  25  남자
1  영희  30  여자
2  민수  22  남자
3  지영  28  여자

In [138]:
import pandas as pd
from pandas import DataFrame

data = {'name' : ['철수', '영희', '민수', '지영'],
        'score': [75, 88, 92, 68]}
df = pd.DataFrame(data)

df['score'].apply(mean)

TypeError: 'numpy.float64' object is not callable

In [6]:
import pandas as pd
data = {'name': ['철수', '영희', None, '지영'], 'score': [75, 88, None, 68]}
df3 = pd.DataFrame(data)
result = df3.isna()
print(result)

    name  score
0  False  False
1  False  False
2   True   True
3  False  False

In [21]:
data = { 'col1': [1, 2, 3],
        'col2': [4, 5, 6]}
df = pd.DataFrame(data)
df

df.apply(lambda row: row['col1'] + row['col2'], axis= "columns")

0    5
1    7
2    9
dtype: int64

In [145]:
df1 = pd.DataFrame({ 'names': ['철수', '영희', '민수'],
                    'score': [75,88,92]})
df2 = pd.DataFrame({ 'names' :  ['지영','다현'],
                    'score': [68, 95]})
df3 = pd.concat([df1, df2], axis= 0, ignore_index=True)
df3

  names  score
0    철수     75
1    영희     88
2    민수     92
3    지영     68
4    다현     95

In [125]:
import requests
from bs4 import BeautifulSoup

# 타겟 웹페이지의 URL
url = "https://example.com"
# 해당 URL에서 HTML 가져오기
response = requests.get(url)
# BeautifulSoup을 사용하여 HTML 파싱
soup = BeautifulSoup(response.text, 'html.parser')
#'h1' 태그 추출
target_tag = soup.find('h1')
# 'h1 태그의 내용 추출
target_content = target_tag.text if target_tag else '태그 X'
print(target_content)

Example Domain

In [35]:
from selenium import webdriver
from selenium.webdriver.common.by import By
driver = webdriver.Chrome()
driver.get("https://example.com")
elements_with_a = driver.find_elements(By.CSS_SELECTOR, "a")
print("특정 a 요소의 개수:", len(elements_with_a))
print("특정 a 요소의 속성 href 값 가져오기:",
elements_with_a[0].get_attribute("href"))
driver.quit()

특정 a 요소의 개수: 1
특정 a 요소의 속성 href 값 가져오기: https://www.iana.org/domains/example

In [42]:
data = { '이름': ['철수', '영희', '민수', '지영'],
 '나이': [25, 30, 22, 28],
 '성별': ['남자', '여자', '남자', '여자']
}

df = pd.DataFrame(data)
df

df.to_json("examples/test.json")

df.to_csv("examples/test2.csv")

In [43]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
 'B': ['B0', 'B1', 'B2']})
df2 = pd.DataFrame({'A': ['A3', 'A4', 'A5'],
 'B': ['B3', 'B4', 'B5']})

pd.concat([df1, df2], axis= 0)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
0  A3  B3
1  A4  B4
2  A5  B5

In [149]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
 'A': ['A0', 'A1', 'A2']})
right = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
 'B': ['B0', 'B1', 'B2']})

pd.merge(left, right, on = 'key', how = 'inner')

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2

In [153]:
df = pd.DataFrame({ '학생': ['철수','영희', '민수'],
                   '성적': [80,75,90]})
print(df)
new_student_scores = pd.DataFrame({ '학생': ['지영'],
                                    '성적': [85]})
print(new_student_scores)

result1 = pd.concat([df, new_student_scores], axis= 'index', ignore_index= True)
print('padans.concat() 결과: ')
print(result1)

result2 = pd.merge(df, new_student_scores, how = "outer")
print('padnas.merge() 결과: ')
print(result2)

   학생  성적
0  철수  80
1  영희  75
2  민수  90
   학생  성적
0  지영  85
padans.concat() 결과:
   학생  성적
0  철수  80
1  영희  75
2  민수  90
3  지영  85
padnas.merge() 결과:
   학생  성적
0  민수  90
1  영희  75
2  지영  85
3  철수  80

In [186]:
df = pd.DataFrame({'학생': ['철수', '영희', '민수'],
                   '성적': [80, 75, 90]})
new_student_scores = pd.DataFrame({'학생': ['지영'],
                    '성적': [85]})

pd.concat([df, new_student_scores], axis= 0, ignore_index= True)

pd.merge(df, new_student_scores, how = "outer")

   학생  성적
0  민수  90
1  영희  75
2  지영  85
3  철수  80

In [161]:
df1 = pd.DataFrame({'A': [1, 2, 3],
                    'B': [4,5,6]}, index = ['X', 'Y', 'Z'])
print(df1)
df2 = pd.DataFrame({'C': [7, 8, 9],
                    'D': [10, 11, 12]})
df2.index = ['X', 'Y', 'Z']

s = pd.Series([13, 14, 15], index= ['X','Y','Z'], name= 'E')

df3= pd.concat([df1, df2, s], axis= "columns")
print("pandas.concat()의 결과:")
print(df3)

df4= pd.merge(df1, df2, left_index= True, right_index= True)
df4


df5= pd.merge(df4, s, left_index= True, right_index= True)
print("pandas_merge() 결과:")
print(df5)

   A  B
X  1  4
Y  2  5
Z  3  6
pandas.concat()의 결과:
   A  B  C   D   E
X  1  4  7  10  13
Y  2  5  8  11  14
Z  3  6  9  12  15
pandas_merge() 결과:
   A  B  C   D   E
X  1  4  7  10  13
Y  2  5  8  11  14
Z  3  6  9  12  15

In [168]:
df1 = pd.DataFrame({ 'A': [1,2,3], 'B': [4,5,6]}, index= ['X', 'Y', 'Z'])
df2 = pd.DataFrame({ 'C': [7,8,9], 'D': [10,11,12]}, index = ['X', 'Y','Z'])
s = pd.Series([13,14,15], index = ['X','Y', 'Z'], name = 'E')

print(df1)
print(df2)
print(s)

result_concat = pd.concat([df1, df2, s], axis= "columns")
print("pandas.concat() 결과: ")
print(result_concat)


df3 = pd.merge(df1, df2, left_index = True, right_index = True)
result_merge = pd.merge(df3, s, left_index = True, right_index = True)
print("panadas_merge() 실행 결과: ")
print(result_merge)

   A  B
X  1  4
Y  2  5
Z  3  6
   C   D
X  7  10
Y  8  11
Z  9  12
X    13
Y    14
Z    15
Name: E, dtype: int64
pandas.concat() 결과:
   A  B  C   D   E
X  1  4  7  10  13
Y  2  5  8  11  14
Z  3  6  9  12  15
panadas_merge() 실행 결과:
   A  B  C   D   E
X  1  4  7  10  13
Y  2  5  8  11  14
Z  3  6  9  12  15

In [169]:
import pandas as pd

df = pd.DataFrame({'이름': ['철수', '영희', '민수'], '국어': [90, 80, 85], '영어': [85, 95, 70], '수학': [75, 80, 90]})
print(df)

df['총점']= df[['국어','영어', '수학']].apply(sum, axis="columns")
print(df)

df.loc['평균'] = df[['국어', '영어', '수학']].apply(lambda x: x.mean())

print(df)

   이름  국어  영어  수학
0  철수  90  85  75
1  영희  80  95  80
2  민수  85  70  90
   이름  국어  영어  수학   총점
0  철수  90  85  75  250
1  영희  80  95  80  255
2  민수  85  70  90  245
     이름    국어         영어         수학     총점
0    철수  90.0  85.000000  75.000000  250.0
1    영희  80.0  95.000000  80.000000  255.0
2    민수  85.0  70.000000  90.000000  245.0
평균  NaN  85.0  83.333333  81.666667    NaN

In [184]:
import pandas as pd

df = pd.DataFrame({ '이름': ['철수', '영희', '민수'],
                    '국어': [90,80,85],
                    '영어': [85,95,70],
                    '수학': [75,80,90]})
print(df)

df['총점'] = df[['국어', '수학', '영어']].apply(sum, axis='columns')
print("총점 추가 결과: ")
print(df)

df.loc['평균'] = df[['국어', '수학', '영어']].apply(lambda x:x.mean())
print("평균 추가 결과")
print(df)

   이름  국어  영어  수학
0  철수  90  85  75
1  영희  80  95  80
2  민수  85  70  90
총점 추가 결과:
   이름  국어  영어  수학   총점
0  철수  90  85  75  250
1  영희  80  95  80  255
2  민수  85  70  90  245
평균 추가 결과
     이름    국어         영어         수학     총점
0    철수  90.0  85.000000  75.000000  250.0
1    영희  80.0  95.000000  80.000000  255.0
2    민수  85.0  70.000000  90.000000  245.0
평균  NaN  85.0  83.333333  81.666667    NaN